.loader {
    position: absolute;
    top: 70px;
    right: 10px;
    z-index: 2000;
    background: #212121 10px 50% no-repeat;
    font-weight: 500;
    font-size: 16px;
    margin-top: 2px;
    margin-right: 4px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 6px 20px;
    opacity: 0.8;
    display: none;
    color: #ececec;
}

.overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1030;
    display: none;
    background: #d0d0d0;
    opacity: 0.5;
}

.container {
    margin-top: 20px;
    padding: 0px 50px;
    position: relative;
}

.map-img {
    max-height: 165px;
}

.table-hover tbody tr:hover {
    background-color: rgba(253, 191, 0, 0.1);
}

.btn-light {
    background-color: #dadada;
}
.reload-newconf {
    display: none;
}
.settings {
    position: absolute;
    top: 0px;
    display: none;
    background-color: white;
    z-index: 1050;

}
select#map.form-control {
    margin-top: 26px;
}
.map-preview {
    max-height: 90px;
}
.hidden {
    display:none;
}

@media (max-width: 576px) {
    .map-img {
        max-height: 100px;
        margin: 14px 10px 0px 0px;
    }
}
